.container-crear-cuenta {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    height: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    padding: 20px; 
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.imagen-icono {
    width: 96px;
    height: 96px;
    margin-right: 20px; 
}

.opcion-crear-cuenta {
    display: flex; 
    flex-direction: column; /* Los botones estarán en una columna */
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 250px;  /* Limita el tamaño de los botones */
}

.opcion-crear-cuenta li {
    margin-bottom: 10px; /* Espacio entre los botones */
}

.opcion-crear-cuenta a {
    display: block;
    width: 100%; 
    padding: 10px 0; 
    background-color: #f98511 ;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.opcion-crear-cuenta a:hover {
    background-color: #f3f3f3;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.opcion-crear-cuenta a:active {
    background-color: #f98511 ;
}
