.detalle-venta-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  margin-bottom: 50px;
}

.detalle-venta-table {
  width: 100%; 
  max-width: 1200px; 
  border-collapse: collapse;
  margin-top: 20px;
}

.detalle-venta-table th,
.detalle-venta-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.detalle-venta-table th {
  background-color: #fc843a;
  color:white;
  font-weight: bold;
}

.detalle-venta-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.detalle-venta-table tr:hover {
  background-color: #f1f1f1;
}

.detalle-venta-heading {
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center; 
}

.detalle-venta-message {
  font-size: 1.2em;
  color: #666;
  text-align: center; 
}

.detalle-venta-error {
  font-size: 1.2em;
  color: red;
  text-align: center; 
}


.detalle-venta-delete-btn {
  background-color: #e63946; 
  color: white; 
  border: none; 
  padding: 4px 15px; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.detalle-venta-delete-btn:hover {
  background-color: #d62828; 
}

.detalle-venta-delete-btn:active {
  background-color: #ba181b; 
}
