/* Contenedor principal */
.detalle-solicitud {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    margin-bottom: 50px;
    margin-top: 30px;
}

/* Título principal */
.detalle-solicitud h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para las secciones de información */
.detalle-solicitud p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #555;
}

/* Estilo para las etiquetas */
.detalle-solicitud strong {
    color: #333;
}

/* Estilo para los títulos de las secciones */
.detalle-solicitud h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilo para los botones de archivos */
.detalle-solicitud .archivos {
    margin-top: 10px;
}

.detalle-solicitud .archivos a {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.detalle-solicitud .archivos a:hover {
    background-color: #45a049;
}

.documentos-title{
    text-align: center;
}

/* Estilos para los botones de Aprobar y Rechazar */
.detalle-solicitud .actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.detalle-solicitud .actions button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

/* Botón de Aprobar */
.detalle-solicitud .actions button.aprobar {
    background-color: #4CAF50; /* Verde */
}

.detalle-solicitud .actions button.aprobar:hover {
    background-color: #45a049;
}

/* Botón de Rechazar */
.detalle-solicitud .actions button.rechazar {
    background-color: #f44336; /* Rojo */
}

.detalle-solicitud .actions button.rechazar:hover {
    background-color: #e53935;
}

/* Estilos de carga para los botones */
.detalle-solicitud .actions button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
}

.contenedor-imagen-productos-solicitud {
    display: flex;
}

.contenedor-imagen-local-solicitud {
    display: flex;
}

.imagen-productos-solicitud {
    width: 500px;
    height: auto;
    max-height: fit-content;
    max-width: fit-content;
    object-fit: cover; 
    border-radius: 8px; 
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
}

.imagen-local-solicitud {
    width: 500px; 
    height: auto;
    max-height: fit-content;
    max-width: fit-content;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
}