/* Contenedor principal */
.form-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

/* Título del formulario */
h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #333;
    display: flex;
    justify-content: center;
}

/* Estilos del formulario */
form {
    background-color: rgba(255, 255, 255, 0.749);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Contenedor de cada campo */
form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Campos que ocupan 2 columnas */
form > div:nth-child(7) {
    grid-column: span 2;
}

form > div:nth-child(8) { /* Campo 8 */
    grid-column: 1 / span 2; 
}
form > div:nth-child(9) { /* Campo 9 */
    grid-column: 3/ span 1; 
}
form > div:nth-child(10) { /* Campo 10 */
    grid-column: 4 / span 1; 
}

/* Contenedor para los botones de archivo */
.file-uploads {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    justify-content: space-between;
}

/* Labels */
label {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

/* Inputs */
input {
    padding: 8px 12px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}

input:focus {
    border-color: #F97316;
}

/* Estilos específicos para inputs tipo file */
input[type="file"] {
    display: none;
}

/* Botones para upload */
.file-uploads label {
    background-color: #F97316;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s;
}

.file-uploads label:hover {
    background-color: #EA580C;
}

/* Botón de submit */
button[type="submit"] {
    grid-column: 4;
    justify-self: center;
    background-color: #F97316;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #EA580C;
}

