/* Contenedor principal */
.form-container-cliente {
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3); 
}

/* Estilos del formulario */
.form-cliente {
  background-color: rgba(255, 255, 255, 0.749);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

/* Contenedor de cada campo dentro del formulario */
.form-cliente form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Labels */
.form-cliente .fc-label {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

/* Inputs */
.form-cliente .fc-input {
  padding: 8px 12px;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.form-cliente .fc-input:focus {
  border-color: #F97316;
}

/* Botón de submit */
.form-cliente .fc-button {
  grid-column: span 2; /* El botón ocupa toda la fila */
  justify-self: center;
  background-color: #F97316;
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 10px;
}

.form-cliente .fc-button:hover {
  background-color: #EA580C;
}

/* Cada campo ocupa una columna de manera predeterminada */
.form-cliente form > div:nth-child(1),
.form-cliente form > div:nth-child(2),
.form-cliente form > div:nth-child(3),
.form-cliente form > div:nth-child(4),
.form-cliente form > div:nth-child(5),
.form-cliente form > div:nth-child(6) {
  grid-column: span 1; /* Cada campo ocupa una columna */
}

/* Campos 7 y 8 deben ocupar una fila de 2 columnas */
.form-cliente form > div:nth-child(7),
.form-cliente form > div:nth-child(8) {
  grid-column: span 2; /* Ocupa las dos columnas de la fila */
}

/* Ajustar a una sola fila si lo necesitas */
.form-cliente form > div:nth-child(9) {
  grid-column: span 2; /* Para ocupar toda la fila */
}
