.fa-containerFormCrearCliente {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .fa-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(238, 238, 238, 0.514);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .fa-containerInput {
    display: flex;
    gap: 15px;
  }
  
  .fa-label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .fa-input {
    width: 287px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .fa-input {
    width: 590px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .fc-input:focus {
    border-color: #f98511;
    outline: none;
  }
  
  .fa-button {
    padding: 10px;
    background-color: #f98511d1;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    align-self: center;
    margin-top: 15px;
  }
  
  .fa-button:hover {
    background-color: #f77b00;
  }
  