/* Contenedor principal */
.form-container-prod {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 20px;
    max-width: 1300px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    margin: 0 auto; /* Centra el contenedor */
}

/* Título del formulario */
h2 {
    font-size: 1.3rem;  /* Tamaño reducido */
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    text-align: center; /* Centra el texto */
}

/* Estilos del formulario */
.form-prod {
    background-color: rgba(255, 255, 255, 0.749);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Dos columnas con igual espacio */
    gap: 10px;  /* Reducido el espacio entre los campos */
    width: 500px;
    height: 300px;
    margin-top: 70px;

}

/* Contenedor de cada campo */
.form-prod > div {
    display: flex;
    flex-direction: column;
    gap: 4px;  /* Reducido el espacio entre label e input */
}

/* Campos que ocupan 2 columnas */
.form-prod > div:nth-child(7),
.form-prod > div:nth-child(8) {
    grid-column: span 2;
}

/* Contenedor para los botones de archivo */
.file-uploads {
    grid-column: span 2;
    display: flex;
    gap: 10px;  /* Reducido el espacio entre los botones de archivo */
    justify-content: space-between;
}

/* Labels */
label {
    font-size: 12px;  /* Tamaño reducido */
    font-weight: 500;
    color: #000000;
}

/* Inputs y selects */
input,
select {
    width: 200px;  /* Establece el ancho de los inputs y selects a 200px */
    padding: 6px 10px;  /* Tamaño reducido */
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    font-size: 12px;  /* Tamaño reducido */
    outline: none;
    transition: border-color 0.2s;
}
input:focus,
select:focus {
    border-color: #f98511;
}

/* Estilos específicos para inputs tipo file */
input[type="file"] {
    display: none;
}

/* Botones para upload */
.file-uploads label {
    background-color: #f98511;
    color: white;
    padding: 6px 12px;  /* Tamaño reducido */
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s;
}

.file-uploads label:hover {
    background-color: #EA580C;
}

/* Botón de submit */
button[type="submit"] {
    grid-column: span 2;
    justify-self: center;
    background-color: #f98511;
    color: white;
    padding: 8px 16px;  /* Tamaño reducido */
    border: none;
    border-radius: 6px;
    font-size: 14px;  /* Tamaño reducido */
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #EA580C;
}



/*tabla*/
