/* Contenedor del formulario de inicio de sesión */
.login-admin-form-container {
  width: 300px;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  text-align: center;
}

/* Estilos para los campos de entrada */
.login-admin-input {
  width: 100%;
  padding: 12px;
  padding-right: 35px; /* espacio para el icono */
  margin-bottom: 15px;
  border: 1.5px solid #aaa;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fefefe;
}

.login-admin-input:focus {
  border-color: #f98511;
  box-shadow: 0 0 5px #f98511a8;
  outline: none;
}

/* Contenedor de entrada para Contraseña */
.login-admin-input-container {
  position: relative;
  margin-bottom: 15px;
}

/* Estilo para el icono de visibilidad de la contraseña */
.login-admin-password-toggle-button {
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translateY(-50%);
  background-color: none;
  border: none;
  cursor: pointer;
  color: #666;
  outline: none;
  padding: 0;
  font-size: 16px;
}

/* Botón de inicio de sesión */
.login-admin-button {
  width: 100%;
  padding: 12px;
  background-color: #f98511;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-admin-button:hover {
  background-color: #ea7e12;
}

/* Botón de recuperación */
.login-admin-recuperar-button {
  margin-top: 15px;
  background-color: transparent;
  color: #000000;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.login-admin-recuperar-button:hover {
  color: #186485;
}

/* Estilos del modal */
.login-admin-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-admin-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

/* Botones del modal */
.login-admin-enviar-button, .login-admin-cancelar-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.login-admin-enviar-button {
  background-color: #f98511;
  color: white;
  border: none;
}

.login-admin-cancelar-button {
  background-color: #f44336;
  color: white;
  border: none;
}

.login-admin-enviar-button:hover {
  background-color: #f98511;
}

.login-admin-cancelar-button:hover {
  background-color: #e53935;
}
