.detalle-emprendedor {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 900px;
    margin: 10px auto;
    font-family: Arial, sans-serif;
}

/* Título principal */
.detalle-emprendedor h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para las secciones de información */
.detalle-emprendedor p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #555;
}

/* Estilo para las etiquetas */
.detalle-emprendedor strong {
    color: #333;
}

/* Estilo para los títulos de las secciones */
.detalle-emprendedor h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.detalle-emprendedor .opciones {
    text-align: center;
}

.detalle-emprendedor .opciones button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
    margin: 10px;
}

/* Botón de Aprobar */
.detalle-emprendedor .opciones button.actualizar {
    background-color: #4CAF50; /* Verde */
}

.detalle-emprendedor .opciones button.actualizar:hover {
    background-color: #45a049;
}

/* Botón de Rechazar */
.detalle-emprendedor .opciones button.eliminar {
    background-color: #f44336; /* Rojo */
}

.detalle-emprendedor .opciones button.eliminar:hover {
    background-color: #e53935;
}

/* Estilos de carga para los botones */
.detalle-emprendedor .opciones button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
}
