/* Contenedor principal de producto */
.producto-individual {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Detalle del producto*/
.producto-individual .producto-detalle {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    padding: 20px;
    text-align: left;
    margin-top: 40px; 
}

/* Estilos para la imagen del producto */
.producto-individual .producto-detalle .producto-imageen {
    flex-shrink: 0;
    margin-right: 20px;
}

.producto-individual .producto-detalle .imagen-producto {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-right: 50px;
    border:none;
}

/* Detalle de la descripción del producto */
.producto-individual .producto-detalle .detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* nombre del producto */
.producto-individual .producto-detalle h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

/* descripción del producto */
.producto-individual .producto-detalle p {
    font-size: 1em;
    margin: 10px 0;
    color: #555;
}


/* Estilo para los campos de descripción y precio */
.producto-individual .producto-detalle .campo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.producto-individual .producto-detalle .campo strong {
    font-size: 17px;
    color: #000000;
    margin-right: 10px;
}

.producto-individual .producto-detalle .campo p {
    font-size: 1em;
    color: #555; 
    margin: 5px 0;
}

.producto-individual .producto-detalle .btn-agregar-carrito {
    background-color: orange;
}